<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Processing your text....</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Text Processor</span>
</nav>
    <br>
    <div class="alert alert-success" role="alert">
  <h2 class="alert-heading">Success !</h2>
  <p> Your text has been processed successfully .</p>

</div>
    <div class="container">
        <h3>Your processsed text :</h3>
        <div class="card">
  <div class="card-body">
      <pre>{{processed_text}}</pre>
  </div>
</div>

    </div>

</body>
</html>